<div class="advertisement__container full-height">
  <div class="row">
    <app-advertisement-preview (onDelete)="emitDelete()"></app-advertisement-preview>
    <app-advertisement-info [ad]="ad"></app-advertisement-info>
  </div>
</div>
