<div class="container content">
  <div class="row">
    <app-header-text [adsCount]="ads.length">
    </app-header-text>

    <app-header-buttons
      (onDeleteAll)="deleteAll()"
      (onAddItem)="addItem()"
      (onAddItemFromTemplate)="addItemFromTemplate()">
    </app-header-buttons>

    <app-advertisements-accordion
      (onAdd)="addItem()"
      (onDelete)="deleteItem($event)"
      [ads]="ads">
    </app-advertisements-accordion>

    <div class="hidden-md hidden-lg col-xs-12 text-center">
      <button
        class="btn text-bold btn-danger btn-outline delete-all__button"
        (click)="deleteAll()">
        Delete all
      </button>
    </div>
  </div>
</div>
