@import "../../scss/variables";

.content {
  background-color: $gray-lighter;
  min-height: 100%;

  padding-top: $navbar-height + $grid-gutter-width / 2;
  padding-bottom: $navbar-height + $grid-gutter-width / 2;
}

.delete-all__button {
  margin: $grid-gutter-width 0;
}
