<div class="col-xs-12 col-md-6">
  <div class="info__container">
    <div class="form-group">
      <label for="ad-placement">Ad placement</label>
      <select class="form-control" name="ad-placement">
        <option *ngFor="let option of placementOptions">{{ option.name }}</option>
      </select>
      <span class="text-bold info__caption">3 placements selected</span>
    </div>

    <hr class="hidden-md hidden-lg">

    <div class="form-group">
      <label class="example-margin">Opt-in buttons</label>
      <div class="row text-center">
        <div>

          <div class="col-xs-4 col-md-1">
            <div
              [ngClass]="{'toggle-active': ad?.optinButtons }"
              class="info__toggle-status">
              On
            </div>
          </div>

          <div class="col-xs-4 col-md-2">
            <md-slide-toggle
              (change)="toggleOptinButtons()"
              class="example-margin"
              color="primary"
              [checked]="ad?.optinButtons">
            </md-slide-toggle>
          </div>

          <div class="col-xs-4 col-md-1">
            <div
              [ngClass]="{'toggle-active': ad ? !ad.optinButtons : false }"
              class="info__toggle-status">
              Off
            </div>
          </div>

        </div>
      </div>
      <span class="text-bold info__caption">
        Allow players to tap yes/no buttons that can link to external URLs
      </span>
    </div>

    <hr class="hidden-md hidden-lg">

    <div class="form-group">
      <label for="coins">Coins per click</label>
      <input
        type="text"
        name="coins"
        class="form-control"
        placeholder="0"
        [(ngModel)]="ad && ad.coins">
    </div>

    <hr class="hidden-md hidden-lg">

    <div class="form-group">
      <label for="link" class="hidden-sm hidden-xs">
        Link <span class="text-info-lighter">Optional</span>
      </label>
      <label for="link" class="hidden-md hidden-lg">
        Link to "yes" button
      </label>
      <input
        type="text"
        placeholder="http://www.gotothislink.com"
        [(ngModel)]="ad && ad.link"
        name="link"
        class="form-control">
      <span class="hidden-xs hidden-sm text-bold info__caption">
        If the user taps on the image, they are redirected to the specific URL, if left blank the advert will not be clickable
      </span>
    </div>

    <hr class="hidden-md hidden-lg">

    <div class="form-group text-bold">
      Let players skip after
      <select class="form-control info__skip-seconds" [(ngModel)]="ad && ad.skipCooldown">
        <option selected>3</option>
        <option>5</option>
        <option>9</option>
      </select> seconds
    </div>
  </div>
</div>
