@import "../../scss/variables";

option {
  color: black !important;
}

.info {
  &__skip-seconds {
    width: auto;
    display: inline;
    border-radius: $btn-border-radius-base / 4;
  }

  &__caption {
    color: $brand-info-lighter;
    margin: $grid-gutter-width / 3 0;
    display: block;
  }

  &__toggle-status {
    line-height: 56px;
    font-weight: bold;
    color: $brand-info-darker;

    &.toggle-active {

      color: $white;
    }
  }
}
