<div class="col-xs-12">
  <div class="header-text__wrapper">
    <h1 class="text-bold">Advertisements / key messages</h1>
    <p class="text-muted hidden-md hidden-lg">Total ads: {{ adsCount }}</p>
    <p class="text-muted">
      In between each block, you can show your players an 'ad'. Ask them to follow you on social media, alert them to an important piece of news or show them something entertaining
    </p>
  </div>
</div>
