@import "../../scss/variables";

.bottom-bar {
  background: $bottom-bar-background;
}

.navbar-default {
  border: none;
}

.navbar {
  &__button {
    background-color: $brand-primary;
    color: $white;
    display: block;
    line-height: $navbar-height;
    width: 100%;
    height: $navbar-height;
    font-weight: bold;
  }

  &__container {
    padding: 0;

    i {
      font-size: 20px;
      line-height: 2.4;
    }
  }
}

.links {
  &__separator {
    color: $white;
    font-size: 11px;

    @media(min-width: $screen-md-min) {
      margin: 10px;
      font-size: 14px;
    }
  }

  &__item {
    display: inline;
    list-style: none;
    line-height: $navbar-height;
    color: $white;
    font-size: 11px;

    @media(min-width: $screen-sm-min) {
      font-size: 14px;
    }
  }
}
