<nav class="navbar navbar-default navbar-fixed-bottom bottom-bar">
  <div class="container-fluid navbar__container">
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-2 col-lg-1 full-height">
        <div class="hidden-xs hidden-sm navbar__button text-center">
          BACK
        </div>
        <div class="hidden-md hidden-lg navbar__button text-center">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-xs-8 col-sm-10 col-md-8 col-lg-10">
        <div class="row">
          <div class="row">
            <div class="links text-center">
              <div class="links__item">Basic Info</div>
              <span class="links__separator">></span>
              <div class="links__item">Questions</div>
              <span class="links__separator">></span>
              <div class="links__item text-bold">Ads</div>
              <span class="links__separator">></span>
              <div class="links__item">Images</div>
              <span class="links__separator">></span>
              <div class="links__item">Settings</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-2 col-sm-1 col-md-2 col-lg-1 full-height">
        <div class="hidden-xs hidden-sm navbar__button text-center">
          NEXT
        </div>
        <div class="hidden-md hidden-lg navbar__button text-center">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
