<md-sidenav-container class="full-height">
  <md-sidenav #sidenav>
    <ul class="sidenav__list">
      <li (click)="toggleSidemenu()">
        <a md-button class="sidenav__button">
          <i class="sidenav__icon fa fa-trophy" aria-hidden="true"></i>
          TOURNAMENTS
        </a>
      </li>

      <li>
        <a md-button class="sidenav__button">
          <i class="sidenav__icon fa fa-cog" aria-hidden="true"></i>
          SETTINGS
        </a>
      </li>
    </ul>
  </md-sidenav>

  <div>
    <app-top-bar [toggleSidemenu]="toggleSidemenu"></app-top-bar>
    <div class="full-height full-width fixed content__wrapper">
      <app-content></app-content>
    </div>
    <app-bottom-bar></app-bottom-bar>
  </div>
</md-sidenav-container>
