<div class="col-xs-12">
  <squeezebox [multiple]="false">
    <sb-item *ngFor="let advertisement of ads; let i = index">

      <sb-item-head>
        <div class="hidden-xs hidden-sm desktop-header">
          <div>
            {{ i }}. Ad {{ i }}
          </div>
          <i class="accordion-header__icon">
              <i class="toggle__icon fa fa-times"></i>
          </i>
        </div>

        <div class="hidden-md hidden-lg mobile-header">
          <div class="mobile-header__left">
            <span class="mobile-header__index">
              {{ i }}.
            </span>
            <img src="../../assets/img/yellow-img-01.png" class="mobile-header__img">
            <span class="mobile-header__name">
              Ad {{ i }}
            </span>
          </div>
          <div class="mobile-header__right">
            <span class="mobile-header__addon">
              {{ advertisement.optinButtons ? 'OPT-IN' : 'OPT-OUT' }}
              <i class="fa fa-check"></i>
            </span>
            <span class="mobile-header__toggle">
              <i class="toggle__icon fa fa-chevron-down"></i>
            </span>
          </div>
        </div>
      </sb-item-head>

      <sb-item-body>
        <app-advertisement
          (onDelete)="emitDelete($event)"
          [index]="i"
          [ad]="advertisement">
        </app-advertisement>
      </sb-item-body>

    </sb-item>
  </squeezebox>
  <button (click)="emitAdd()" class="add-ad__button hidden-lg hidden-md btn btn-primary btn-block">
    <i class="fa fa-plus" aria-hidden="true"></i>
    ADD AD/KEY MESSAGE
  </button>
</div>
