@import '../../scss/variables';

.add-ad__button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 10px;
  font-weight: bold;
}

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: middle;
  .toggle__icon {
    font-size: 18px;
  }
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: middle;

  &__left {
    margin-top: 4px;
  }


  &__addon {
    line-height: 75px;

    i {
      font-size: 20px;
      color: $brand-success;
      margin-left: 5px;
    }
  }

  &__img {
    display: inline;
    max-width: 40px;
    margin: 0 10px;
  }

  .toggle__icon {
    font-size: 22px;
    transition: all .5s;
    margin-left: 10px;
    margin-right: 5px;
    transform: rotate(180deg);
  }
}
