@import "../../scss/variables";

.preview {
  &__container {
    img {
      user-select: none;
    }
  }

  &__caption {
    margin: $grid-gutter-width / 2;
    color: $brand-info-lighter;
    font-size: $font-size-small;
  }

  &__addon {
    @media(min-width: $screen-md-min) {
      padding-right: 38px;
    }
  }

  &__mobile-image {
    img {
      margin: auto
    }
  }

  &__button {
    margin: $grid-gutter-width / 2;
  }
}
