<div class="col-xs-12 col-md-6">
  <div class="preview__container">
    <div class="hidden-xs hidden-sm preview__desktop-image">
      <img src="../../assets/img/iphone-new-bg.png" class="img-responsive">
    </div>

    <div class="hidden-md hidden-lg preview__mobile-image">
      <img src="../../assets/img/iphone-mobile-bg.png" class="img-responsive">
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-4 preview__addon">
        <div class="preview__caption text-center">
          Example of the ad shown on an iPhone 7
        </div>
        <div class="preview__button text-center">
          <button
            (click)="onDelete.emit($event)"
            class="btn btn-danger text-bold">
            DELETE
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
