@import './scss/variables';

.squeezebox {
  .sb-item {
    padding: 0;
    border: none;

    .sb-item-head {
      padding: $grid-gutter-width / 2 $grid-gutter-width / 3;
      background-color: $brand-info-dark;
      transition: all .3s;

      a {
        text-decoration: none !important;
        color: $white;
        font-weight: bold;
      }

      .toggle-icon {
        display: none !important;
      }

      @media(min-width: $screen-md-min) {
        padding: $grid-gutter-width / 3 $grid-gutter-width ;
      }
    }
    &.is-collapsed {
      .sb-item-head {
        background-color: $brand-secondary;
        a {
          color: $brand-info-darker;
        }
      }

      .desktop-header {
        .toggle__icon {
          // Edit icon
          &::before {
            content: "\F044" !important;
          }
        }
      }

      .mobile-header {
        .toggle__icon {
          transform: rotate(360deg) !important;
        }
      }
    }

    .sb-item-body {
      .inner {
        padding: 0;
      }
    }
  }
}
