.btn-outline {
  background-color: transparent !important;
  border-width: 3px !important;

  &.btn-primary {
    color: $brand-primary;
    &:focus,
    &:active,
    &:hover {
      color: darken($brand-primary, 20%);
    }
  }

  &.btn-success {
    color: $brand-success;
    &:focus,
    &:active,
    &:hover {
      color: darken($brand-success, 20%);
    }
  }

  &.btn-info {
    color: $brand-info;
    &:focus,
    &:active,
    &:hover {
      color: darken($brand-info, 20%);
    }
  }

  &.btn-warning {
    color: $brand-warning;
    &:focus,
    &:active,
    &:hover {
      color: darken($brand-warning, 20%);
    }
  }

  &.btn-danger {
    color: $brand-danger;
    &:focus,
    &:active,
    &:hover {
      color: darken($brand-danger, 20%);
    }
  }
}
