@font-face {
  font-family: "ProximaNova";
  src: url('assets/fonts/Proxima Nova Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova";
  src: url('assets/fonts/Proxima Nova Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "ProximaNova";
  font-weight: normal;
  src: url('assets/fonts/Proxima Nova Reg.ttf');
}

@font-face {
  font-family: "ProximaNova";
  font-weight: lighter;
  src: url('assets/fonts/Proxima Nova Light.ttf');
}
