.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.centered {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.text-bold {
  font-weight: bold;
}
