@import "./variables";

.sidenav {
  &__list {
    list-style: none;
    padding: 0;
    margin : 0;
  }

  &__icon {
    &::before {
      line-height: 36px;
      margin: 0 5px;
    }
  }

  &__button {
    width: 100%;
    text-decoration: none !important;
    padding: 10px 35px !important;
    outline: none !important;
    color: $brand-info-darker !important;

    span {
      font-size: 19px;

      i {
        padding-bottom: 2px;
      }
    }
  }
}
