// colors
$gray-light: #DBDBDB;
$gray-lighte: #E4E4EA;
$brand-primary: #007CF8;
$brand-success: #2BCB8B;
$brand-danger: #CD564C;
$brand-info: #66589A;
$brand-info-darker: #333338;
$brand-info-dark: #302F5E;
$brand-info-lighter: #A8A1C5;
$brand-secondary: #BEDED7;
$white: #FEFEFE;
$text-muted: darken($gray-light, 30%);

// Form
$form-group-margin-bottom: 30px;
$input-border: $white;
$input-color: $white;
$input-bg: transparent;

// Navbar
$navbar-height: 45px;
$bottom-bar-background: #242E3F;

// Buttons
$btn-border-radius-base: 8px;

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss";
