<div class="hidden-xs hidden-sm col-xs-12">
  <div class="header-buttons__wrapper">

      <div class="header-buttons__button">
        <button
          class="btn text-bold btn-primary"
          (click)="onAddItem.emit()">
          <i class="fa fa-plus"></i>
          Add item
        </button>
      </div>

      <div class="header-buttons__button">
        <button
          class="btn text-bold btn-primary btn-outline"
          (click)="onAddItemFromTemplate.emit()">
          <i class="fa fa-plus"></i>
          Add item from template
        </button>
      </div>

      <div class="header-buttons__button">
        <button
          class="btn text-bold btn-danger btn-outline"
          (click)="onDeleteAll.emit()">
          Delete all
        </button>
      </div>

  </div>
</div>
