@import "../../scss/variables";

.header-buttons {
  &__wrapper {
    padding: $grid-gutter-width 0;
  }

  &__button {
    display: inline;
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}
