@import "../../scss/variables";

$navbar-padding: 14px;

.navbar {
  margin-bottom: 0;
  background-color: $brand-primary;
  border: none;
  border-radius: 0;

  @media(max-width: $screen-xs-max) {
    height: 50px;
  }

  &-right {
    height: $navbar-height;
  }

  &-brand {
    float: right;
    padding: $navbar-padding;

    &__img {
      max-width: 110px;
    }

    @media(min-width: $screen-md-min) {
      float: left;
    }
  }

  &__icon {
    font-size: 16px;
    margin: 0 5px;
  }

  &-toggle {
    float: left;
    margin: 10px 8px;
    border: none;

    &:focus,
    &:hover {
      background: transparent;
    }

    .icon-bar {
      background: $white;
    }

    @media(min-width: $screen-md-min) {
      float: none;
    }
  }

  a {
    color: $white !important;
    font-weight: bold;
  }
}

.user-widget {
  margin: 0 40px;

  &__company,
  &__name {
    color: $white;
    line-height: 1;
    font-size: 12px;
  }

  i {
    color: $white;
    margin: 5px 10px;
  }

  &__name {
    font-weight: bold;
  }
}
