<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        (click)="toggleSidemenu()"
        class="navbar-toggle collapsed"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand__img img-responsive" src="../../assets/img/logo.svg">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="navbar__icon fa fa-trophy" aria-hidden="true"></i>TOURNAMENTS</a></li>
        <li><a href="#"><i class="navbar__icon fa fa-cog" aria-hidden="true"></i>SETTINGS</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <md-menu #appMenu>
          <button md-menu-item> Profile </button>
          <button md-menu-item> Logout </button>
        </md-menu>

        <button md-button [mdMenuTriggerFor]="appMenu" class="full-height user-widget">
          <div>
            <div class="user-widget__name">SARAH WALKER</div>
            <div class="user-widget__company">GRAVY GAMING</div>
          </div>
          <i class="fa fa-chevron-down float-right"></i>
        </button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
